#==============================================================================
# JENKINS CONTROLLER ENVIRONMENT
#==============================================================================

#==============================================================================
# CONTROLLER CREDENTIAL FILES
#==============================================================================

GITHUB_TOKEN_FILE=./secrets/github-token
JENKINS_ADMIN_ID=admin
JENKINS_ADMIN_PASSWORD_FILE=./secrets/jenkins-admin-password

#==============================================================================
# CONTROLLER ENDPOINT
#==============================================================================

JENKINS_BIND_ADDRESS=127.0.0.1
JENKINS_CONTROLLER_VERSION=2.568.3-lts-jdk21
JENKINS_URL=http://localhost:8080