#==============================================================================
# CONTROLLER SECRETS
#==============================================================================

secrets/
.env

#==============================================================================
# CONTROLLER BACKUPS AND RESULTS
#==============================================================================

*.tar.gz
run-command-results/

#==============================================================================
# LOCAL OPERATING SYSTEM FILES
#==============================================================================

.DS_Store