#==============================================================================
# JENKINS CONTROLLER SYSTEMD SERVICE
#==============================================================================

#==============================================================================
# UNIT DEPENDENCIES
#==============================================================================

[Unit]
Description=Jenkins controller
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

#==============================================================================
# SERVICE LIFECYCLE
#==============================================================================

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/jenkins-controller/current
ExecStart=/usr/bin/docker compose up --detach --build --remove-orphans
ExecReload=/usr/bin/docker compose up --detach --build --remove-orphans
ExecStop=/usr/bin/docker compose down
TimeoutStartSec=1200
TimeoutStopSec=180

#==============================================================================
# SERVICE INSTALLATION
#==============================================================================

[Install]
WantedBy=multi-user.target