#==============================================================================
# JENKINS CONTROLLER BACKUP SERVICE
#==============================================================================

#==============================================================================
# UNIT IDENTITY
#==============================================================================

[Unit]
Description=Back up Jenkins controller state
After=jenkins-controller.service

#==============================================================================
# BACKUP EXECUTION
#==============================================================================

[Service]
Type=oneshot
EnvironmentFile=/opt/jenkins-controller/current/.env
ExecStart=/usr/bin/bash /opt/jenkins-controller/current/scripts/manage.sh backup
TimeoutStartSec=1800