#==============================================================================
# JENKINS CONTROLLER BACKUP TIMER
#==============================================================================

#==============================================================================
# UNIT IDENTITY
#==============================================================================

[Unit]
Description=Run the Jenkins controller backup daily

#==============================================================================
# BACKUP SCHEDULE
#==============================================================================

[Timer]
OnCalendar=*-*-* 03:00:00
RandomizedDelaySec=15m
Persistent=true
Unit=jenkins-controller-backup.service

#==============================================================================
# TIMER INSTALLATION
#==============================================================================

[Install]
WantedBy=timers.target