#==============================================================================
# JENKINS CONTROLLER HEALTH TIMER
#==============================================================================

#==============================================================================
# UNIT IDENTITY
#==============================================================================

[Unit]
Description=Check Jenkins controller health every minute

#==============================================================================
# HEALTH SCHEDULE
#==============================================================================

[Timer]
OnBootSec=5m
OnUnitInactiveSec=1m
AccuracySec=15s
Unit=jenkins-controller-health.service

#==============================================================================
# TIMER INSTALLATION
#==============================================================================

[Install]
WantedBy=timers.target